In [9]:
import os
import dotenv
import pandas as pd
import matplotlib as plt

dotenv.load_dotenv()
path_csv = os.getenv("CSV_CHILETRABAJOS")

try:
    df= pd.read_csv(path_csv,sep=";",encoding="utf-8")
    print("datos cargados")
    display(df.head())
except Exception as e:
        print(f"error :{e}")

datos cargados

,Oferta,Salario,Beneficios,Empresa,Descripcion,Ubicacion,Fecha_Publicacion,Fecha_Expiracion
0,INGENIERO DE SOFTWARE – BLAZOR WEBASSEMBLY .NE...,a convenir,-La empresa paga o copaga una cobertura de sal...,Grupo-O2,En GRUPO O2 busca Ingeniero de Software – Blaz...,Santiago,2025-03-24 10:24:32,2025-06-07 (en 75 días)
1,INGENIERO DE SOFTWARE – FRONTEND REACT Y BACKE...,a convenir,-La empresa paga o copaga una cobertura de sal...,GRUPO-o2,En GRUPO O2 busca Ingeniero de Software – Fron...,Santiago,2025-03-24 10:28:38,2025-06-07 (en 75 días)
2,AYUDANTE CONDUCTOR,NaN,-¡La salud es lo más importante! La empresa pa...,Reclutamiento XR3,En XR3 nos encontramos buscando a nuestro prox...,Illapel,2025-03-22 12:02:01,2025-06-05 (en 73 días)
3,DISEÑADOR UX UI (REMOTO),NaN,-La empresa paga o copaga una cobertura de sal...,Kibernum,¡Únete a nuestro equipo como Diseñador UX UI p...,Santiago,2025-03-21 11:42:15,2025-06-04 (en 72 días)
4,INGENIERO CLOUD OPS,Negociable,-La empresa paga o copaga una cobertura de sal...,Kabeli Selección,Kabeli se encuentra en búsqueda de un Ingenier...,Santiago,2025-03-21 16:03:14,2025-06-04 (en 72 días)

In [16]:
tabla_ciudades = df['Ubicacion'].value_counts().reset_index()
tabla_ciudades.columns = ['Ciudad', 'Cantidad_Ofertas']

# Mostrar la tabla
print("Cantidades de Ofertas por ciudad\n")
tabla_ciudades

Cantidades de Ofertas por ciudad

            Ciudad  Cantidad_Ofertas
0         Santiago              1017
1       Concepción                39
2      Antofagasta                32
3       Valparaíso                31
4         Rancagua                16
5     Puerto Montt                13
6          Iquique                12
7          Copiapó                10
8           Temuco                 9
9        La Serena                 9
10          Calama                 8
11     Los Ángeles                 7
12           Talca                 7
13        Valdivia                 6
14         Chillán                 6
15         Illapel                 6
16           Arica                 5
17    Punta Arenas                 5
18        Coquimbo                 5
19    San Fernando                 5
20       Los Andes                 4
21          Osorno                 3
22          Curicó                 3
23         Linares                 3
24      San Felipe                 2
25        Quillota                 2
26          Colina                 2
27     Puente Alto                 2
28       Talagante                 2
29       Coyhaique                 2
30         Quilpué                 2
31       Melipilla                 2
32     San Antonio                 1
33  Puerto Natales                 1
34          Castro                 1
35        Vallenar                 1
36       Tocopilla                 1

In [28]:
def clasificar_puesto(oferta):
    oferta = str(oferta).lower()
    if 'frontend' in oferta:
        return 'Frontend'
    elif 'desarrollador' in oferta:
        return 'developer'
    elif 'backend' in oferta:
        return 'Backend'
    elif 'fullstack' in oferta:
        return 'Fullstack'
    elif 'devops' in oferta:
        return 'DevOps'
    elif 'qa' in oferta or 'tester' in oferta:
        return 'QA'
    elif 'data' in oferta or 'analista' in oferta:
        return 'Data'
    elif 'mobile' in oferta or 'android' in oferta or 'ios' in oferta:
        return 'Mobile'
    elif 'ux' in oferta:
        return 'UX'
    else:
        return 'Otros'
df['Puesto'] = df['Oferta'].apply(clasificar_puesto)
tabla_puestos = df['Puesto'].value_counts().reset_index()
tabla_puestos.columns = ['Puesto', 'Cantidad_Ofertas']
tabla_puestos

      Puesto  Cantidad_Ofertas
0      Otros              1346
1  developer               188
2       Data               114
3     Mobile                82
4         QA                27
5   Frontend                17
6     DevOps                14
7         UX                11
8  Fullstack                 8
9    Backend                 2

In [ ]:
def calsificar_salario(salario)
    salario = str()